<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Seating Plan</title>
        <link href="/seatingplanfront/css/styles.css" rel="stylesheet">
        <link href="/seatingplanfront/lib/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1 class="text-center">Seating Plan</h1>
        </header>

        <div class="container">
            <div>
                <h2>Erreur 404</h2>
            </div>

            <br />
            <br />
            <p>Cette page n'existe pas !</p>

            <a href="/seatingplanfront/index">Retourner à l'index !</a>
        </div>
    </body>
</html>
